flows.json
[
    {
        "id": "83fce8011cf0b717",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b681ebe982f525c",
        "type": "serial in",
        "z": "83fce8011cf0b717",
        "name": "",
        "serial": "cb1190198b0fc408",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "04964a5d3cb20f9d",
                "dc39aade35c8a908"
            ]
        ]
    },
    {
        "id": "04964a5d3cb20f9d",
        "type": "json",
        "z": "83fce8011cf0b717",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c966173d60a0e887",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "83d9d5576f98fa6d",
        "type": "ui_gauge",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "d141de083afcdc57",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ (°C)",
        "label": "units",
        "format": "{{msg.payload.temp}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4330a301ef03629",
        "type": "ui_gauge",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "d141de083afcdc57",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "units",
        "format": "{{msg.payload.hum}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "d4206ce3bd33a9b0",
        "type": "ui_gauge",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "d141de083afcdc57",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ánh sáng",
        "label": "units",
        "format": "{{msg.payload.light}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "5d66ad4304d53bd5",
        "type": "ui_gauge",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "d141de083afcdc57",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gas",
        "label": "units",
        "format": "{{msg.payload.gas}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "9a3f988688a15020",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Chart Temp",
        "func": "return { payload: msg.payload.temp, topic: \"temp\" };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "5931f98e8096e96e"
            ]
        ]
    },
    {
        "id": "bda6e32d896ec00a",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Chart Hum",
        "func": "return { payload: msg.payload.hum, topic: \"hum\" };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "ede542b2102ec056"
            ]
        ]
    },
    {
        "id": "495bf25004cf2dd7",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Chart Gas",
        "func": "return { payload: msg.payload.gas, topic: \"gas\" };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "b4ecab2786d35eb5"
            ]
        ]
    },
    {
        "id": "95504704f00ffd9b",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Chart Light",
        "func": "return { payload: msg.payload.light, topic: \"light\" };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "3cedba96c4341f76"
            ]
        ]
    },
    {
        "id": "5931f98e8096e96e",
        "type": "ui_chart",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "6c726098cdfae6e3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ nhiệt độ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b4ecab2786d35eb5",
        "type": "ui_chart",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "6c726098cdfae6e3",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ khí gas",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3cedba96c4341f76",
        "type": "ui_chart",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "6c726098cdfae6e3",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ độ sáng",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ede542b2102ec056",
        "type": "ui_chart",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "6c726098cdfae6e3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ độ ẩm",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8c009c123c485491",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Status Warning",
        "func": "let s = \"\";\nif (msg.payload.temp > 30) s += \"Nhiệt độ cao! \";\nif (msg.payload.gas > 600) s += \"Gas nhiều! \";\nif (msg.payload.hum < 40) s += \"Độ ẩm thấp! \";\nif (s === \"\") s = \"Môi trường ổn định.\";\nmsg.payload = s;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "6a07576484aa5a08"
            ]
        ]
    },
    {
        "id": "6a07576484aa5a08",
        "type": "ui_text",
        "z": "83fce8011cf0b717",
        "group": "4bb9f823963f2281",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "d78f97c76dbba57b",
        "type": "ui_switch",
        "z": "83fce8011cf0b717",
        "name": "",
        "label": "Quạt",
        "tooltip": "",
        "group": "98f191fefebe306a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 820,
        "wires": [
            [
                "0c40e7f3e24437bd",
                "7056c8fab8cd07fb"
            ]
        ]
    },
    {
        "id": "70fb89cb27fd3b89",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 920,
        "wires": []
    },
    {
        "id": "631c27fef66e14fe",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 880,
        "wires": []
    },
    {
        "id": "06dbd1384c12a143",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Set Mode",
        "func": "// on message\nif (msg.payload === \"Auto\") {\n  flow.set(\"mode\", \"Auto\");\n  return { payload: \"Auto\" };\n}\nif (msg.payload === \"Manual\") {\n  flow.set(\"mode\", \"Manual\");\n  return { payload: \"Manual\" };\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 740,
        "wires": [
            [
                "1c66d6bf25f45e2c",
                "03542adbeb0e337c",
                "d8bd704fa01bd424"
            ]
        ]
    },
    {
        "id": "8f74418442a9924f",
        "type": "ui_button",
        "z": "83fce8011cf0b717",
        "name": "“Button_SetAuto”",
        "group": "98f191fefebe306a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tự động",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Auto",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "x": 510,
        "y": 720,
        "wires": [
            [
                "dcb023121247d2fd",
                "37c3771975d6113b",
                "587ea92bdf4402b7"
            ]
        ]
    },
    {
        "id": "ee79bd0af5ad6614",
        "type": "ui_button",
        "z": "83fce8011cf0b717",
        "name": "“Button_SetManual”",
        "group": "98f191fefebe306a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Thủ công",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Manual",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "0515badeed60e276",
                "37c3771975d6113b",
                "6e8cc05cccf7665b"
            ]
        ]
    },
    {
        "id": "589dd9e2671512a3",
        "type": "ui_text",
        "z": "83fce8011cf0b717",
        "group": "98f191fefebe306a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Chế độ Thủ công / Tự động",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 880,
        "wires": []
    },
    {
        "id": "1c66d6bf25f45e2c",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 840,
        "wires": []
    },
    {
        "id": "d8bd704fa01bd424",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "auto logic",
        "func": "// Hàm Auto Logic (Function node 2 outputs)\nconst d = msg.payload;                  \nconst mode = flow.get(\"mode\") || \"Auto\";\n\n// Nếu đang Manual, không xuất msgFan/msgMist\nif (mode !== \"Auto\") {\n    return [ null, null ];\n}\n\n// --- Xử lý Fan ---\nlet prevFan = flow.get(\"fanState\") || \"0\";\nlet newFan  = (d.temp > 30 || d.gas > 600) ? \"0\" : \"1\";\nlet msgFan  = null;\nif (newFan !== prevFan) {\n    msgFan = { payload: newFan, _auto: true };\n    flow.set(\"fanState\", newFan);\n}\n\n// --- Xử lý Mist ---\nlet prevMist = flow.get(\"mistState\") || \"0\";\nlet msgMist = null;\nif (d.hum < 40 && prevMist === \"0\") {\n    msgMist = { payload: \"1\", _auto: true };\n    flow.set(\"mistState\", \"1\");\n} else if (d.hum >= 40 && prevMist !== \"0\") {\n    flow.set(\"mistState\", \"0\");\n}\n\nreturn [ msgFan, msgMist ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "be9cf704b4c3c37e",
                "de523fd061b6f0d1"
            ],
            [
                "8b7b91e3805284d8",
                "9fe122d30402a331"
            ]
        ]
    },
    {
        "id": "231f2e55ad984c7f",
        "type": "mqtt out",
        "z": "83fce8011cf0b717",
        "name": "MQTT Out (farm/fan)",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "293459895667509b",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "4a2bf30e583ea76b",
        "type": "mqtt out",
        "z": "83fce8011cf0b717",
        "name": "MQTT Out (farm/mist)",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "293459895667509b",
        "x": 1080,
        "y": 700,
        "wires": []
    },
    {
        "id": "be9cf704b4c3c37e",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 500,
        "wires": []
    },
    {
        "id": "8b7b91e3805284d8",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 620,
        "wires": []
    },
    {
        "id": "dc39aade35c8a908",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Parse Sensors",
        "func": "// on message\nlet d = {};\ntry {\n    d = JSON.parse(msg.payload);\n} catch (e) {\n    return null;   // nếu parse lỗi, bỏ qua\n}\n// Đảm bảo bốn trường tồn tại\nmsg.payload = {\n    temp: d.temp,\n    hum: d.hum,\n    gas: d.gas,\n    light: d.light\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 340,
        "wires": [
            [
                "c966173d60a0e887",
                "c4330a301ef03629",
                "83d9d5576f98fa6d",
                "9a3f988688a15020",
                "5d66ad4304d53bd5",
                "d4206ce3bd33a9b0",
                "bda6e32d896ec00a",
                "495bf25004cf2dd7",
                "95504704f00ffd9b",
                "8c009c123c485491",
                "d8bd704fa01bd424"
            ]
        ]
    },
    {
        "id": "03542adbeb0e337c",
        "type": "ui_ui_control",
        "z": "83fce8011cf0b717",
        "name": "",
        "events": "change",
        "x": 1000,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0515badeed60e276",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 760,
        "wires": []
    },
    {
        "id": "dcb023121247d2fd",
        "type": "debug",
        "z": "83fce8011cf0b717",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "6fa8ac9b215e9619",
        "type": "ui_button",
        "z": "83fce8011cf0b717",
        "name": "",
        "group": "98f191fefebe306a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Phun sương",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "x": 490,
        "y": 940,
        "wires": [
            [
                "efa628b57b9243a3"
            ]
        ]
    },
    {
        "id": "37c3771975d6113b",
        "type": "ui_text",
        "z": "83fce8011cf0b717",
        "group": "98f191fefebe306a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Chế độ hiện tại: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "0c40e7f3e24437bd",
        "type": "ui_text",
        "z": "83fce8011cf0b717",
        "group": "98f191fefebe306a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "thông số là:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 880,
        "wires": []
    },
    {
        "id": "efa628b57b9243a3",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "phun sương",
        "func": "// Function SetMistTopic: mỗi khi payload=\"1\", gán topic=\"farm/mist\"\nif (msg.payload === \"1\") {\n    msg.topic = \"farm/mist\";\n    msg.payload = \"1\";\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 940,
        "wires": [
            [
                "70fb89cb27fd3b89",
                "4a2bf30e583ea76b"
            ]
        ]
    },
    {
        "id": "7056c8fab8cd07fb",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "quạt",
        "func": "// Function SetFanTopic: nhận payload \"1\" hoặc \"0\" \n// rồi gán topic = \"farm/fan\"\nlet val = msg.payload;        // msg.payload là \"1\" khi nhấn ON, hoặc \"0\" nếu bạn có nút OFF\n// Bảo đảm chỉ xử lý khi val = \"1\" hoặc \"0\"\nif (val === \"1\" || val === \"0\") {\n    msg.topic = \"farm/fan\";\n    msg.payload = val;       // giữ nguyên \"1\" hoặc \"0\"\n    return msg;\n} else {\n    // Nếu payload khác, bỏ qua\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 820,
        "wires": [
            [
                "231f2e55ad984c7f",
                "631c27fef66e14fe"
            ]
        ]
    },
    {
        "id": "de523fd061b6f0d1",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Auto→Fan",
        "func": "// “Auto→Fan” Function node\n// Nhận msg.payload = \"1\" hoặc \"0\", msg._auto = true\nif (msg._auto === true && (msg.payload === \"1\" || msg.payload === \"0\")) {\n    msg.topic = \"farm/fan\";\n    msg.payload = msg.payload;  // giữ nguyên\n    delete msg._auto;\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 580,
        "wires": [
            [
                "231f2e55ad984c7f"
            ]
        ]
    },
    {
        "id": "9fe122d30402a331",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Auto→Mist",
        "func": "// “Auto→Mist” Function node\nif (msg._auto === true && msg.payload === \"1\") {\n    msg.topic = \"farm/mist\";\n    msg.payload = \"1\";\n    delete msg._auto;\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "4a2bf30e583ea76b"
            ]
        ]
    },
    {
        "id": "587ea92bdf4402b7",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Tự động",
        "func": "// Function SetMistTopic: mỗi khi payload=\"1\", gán topic=\"farm/mist\"\nif (msg.payload === \"Auto\") {\n    msg.topic = \"mode\";\n    msg.payload = \"Auto\";\n    return msg;\n} else {\n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 700,
        "wires": [
            [
                "06dbd1384c12a143"
            ]
        ]
    },
    {
        "id": "6e8cc05cccf7665b",
        "type": "function",
        "z": "83fce8011cf0b717",
        "name": "Thủ công",
        "func": "// Function SetMistTopic: mỗi khi payload=\"1\", gán topic=\"farm/mist\"\nif (msg.payload === \"Manual\") {\n    msg.topic = \"mode\";\n    msg.payload = \"Manual\";\n    return msg;\n} else {\n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 760,
        "wires": [
            [
                "06dbd1384c12a143"
            ]
        ]
    },
    {
        "id": "cb1190198b0fc408",
        "type": "serial-port",
        "name": "Read UNO 1",
        "serialport": "COM6",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d141de083afcdc57",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "343936bb4c280149",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "6c726098cdfae6e3",
        "type": "ui_group",
        "name": "Chart_sensors",
        "tab": "343936bb4c280149",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bb9f823963f2281",
        "type": "ui_group",
        "name": "Cảnh báo",
        "tab": "343936bb4c280149",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "98f191fefebe306a",
        "type": "ui_group",
        "name": "Controls",
        "tab": "343936bb4c280149",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "293459895667509b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "343936bb4c280149",
        "type": "ui_tab",
        "name": "DuAnBTL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]